= rails_admin_alert @exposition
= simple_form_for @exposition do |f|
  = render 'foundationstone/error', object: @exposition
  = f.input :cover
  = f.input :parent_id, collection: @exposition.parent_enum
  #translations.tab-content
    = localization_bar @exposition
    = f.simple_fields_for :translations do |translation|
      = render 'translation_fields', f: translation
    .links= link_to_add_association t('.translation.add'), f, :translations, class: 'btn btn-default'
  = f.button :submit, t('.submit'), class: 'btn btn-block btn-large btn-info'