= rails_admin_alert @video
= simple_form_for [@video.exposition, @video] do |f|
  = render 'foundationstone/error', object: @video
  = f.input :thumb
  = f.input :video
  #translations.tab-content
    = localization_bar @video
    = f.simple_fields_for :translations do |translation|
      = render 'translation_fields', f: translation
    .links= link_to_add_association t('.translation.add'), f, :translations, class: 'btn btn-default'
  = f.button :submit, t('.submit'), class: 'btn btn-block btn-large btn-info'